---
import { Image } from 'astro:assets';
import ImageAnimied  from './img/d9gjyya-de8938c0-1c90-4443-9a0d-2cd268bf7851.png';
---
<article>
<div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl py-20 ">
    <div class="flex  items-center">
         <h1 class="text-4xl	font-medium text-yellow-200">
           Disfruta los mejores Animied <span class="text-red-200">24/7</span> sin interrupciones
           <ul class="grid grid-cols-1 gap-5 py-4">
            <li class="text-purple-200 text-xl">
              <span class="text-red-200  text-x">- </span> 100% Gratis
            </li>
            <li class="text-purple-200  text-xl">
              <span class="text-red-200">- </span> Sin publicidad
            </li>
            <li class="text-purple-200  text-xl">
              <span class="text-red-200">- </span> Sin registro
            </li class="text-blue-200">
            <li class="text-purple-200  text-xl">
              <span class="text-red-200">- </span> Sin restricciones
            </li>

            <li class="text-purple-200  text-xl">
              <span class="text-red-200">- </span> Sin restricciones
            </li>

            <li class="text-purple-200 text-xl">
              <span class="text-red-200">- </span> 4k y Full HD
           </ul>
         </h1>
         
         
    </div>
    <div class="flex justify-between items-center">
   <Image src = {ImageAnimied}alt="hero" class="w-96 h-96" />
    </div>
</div>
</article>

